#backDiv {
    border-color: #41719C;
    border-width: 2px;
    border-style: solid;
    position: center;
    display:flex;
    width: 650px;
    margin-left: auto;
    margin-right: auto;
}

#nameDiv {
    height: 35px; 
    margin-top:5%;
    margin-bottom:5%;
    width:100%;
}
#label::after {
    content: "*";
    color: red;
}
#dateDiv {
    height: 35px; 
    margin-top:5%;
    margin-bottom:5%;
    width:100%;
}
#addressDiv {
    height: 35px; 
    margin-top:5%;
    margin-bottom:5%;
    width:100%;
}
#infoDiv {
    height: 35px;
    margin-bottom:5%;
    display: flex;
}
#btnDiv {
    height: 35px;
    margin-bottom:5%;
}
#label {
    width: 120px;
    border: 2px solid #41719C;
    color: white;
    background: #70ad47;
    padding :5px;text-align:center;
}
#input {
    border: 2px solid #41719C;
    margin-left:10%;
    width:55%;
}
#inputdate{
    border: 2px solid #41719C;
    margin-left:10%;
    width:55%;
}
#radioBtn {
    margin-left:15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#btnDiv {
    text-align: center;  
}

#submitId {
    border-color: #41719C;
    border-width: 2px;
    border-style: solid;
    background-color: #70ad47;
    
}
